name: Postman Collection Workflow

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '30 02 * * *'   # 8:00 AM IST every day
    - cron: '00 14 * * *'   # 7:30 PM IST every day

jobs:
  run-postman-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6.0.1

      - name: Install Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: '22'

      - name: Install Newman and HTML Extra reporter
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run the Postman Collection with Newman
        run: |
          newman run "Inwarranty-flow Collection.postman_collection.json" \
          -e "QA.postman_environment.json" \
          -d "testdata.csv" \
          -r cli,htmlextra \
          --reporter-htmlextra-export ./newman/index.html
          
      - name: Newman Report
        if: always() # ensure that the archive executed irrespective whether the previous step has passed or not!
        uses: actions/upload-artifact@v4.6.2
        with:
          name: Newman Report
          path: newman/*.html

      - name: Creating github page branch
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: newman/
    
    











